---
layout: default
title: John Patrick Amata
description: The road less travelled
---
<div class="listing">
    {% for post in paginator.posts %}
    <div class="post other link">
      <h2></span> <a href="{{site.url}}{{post.url}}">{{ post.title }}</a></h2>
      <p class="post-date">{{ post.date | date_to_string }}</p>
      {{ post.excerpt }}
      {% if post contains site.excerpt_separator %}
      <p>
        <a href="{{ post.url | relative_url }}">Read on &rarr;</a>
      </p>
    {% endif %}
    </div>
    {% endfor %}
</div>
