<div class="header-container container">
  <header>
    <strong><a href="{{ site.url }}" class="top-link">john patrick amata</a></strong>
      <ul class="nav">
        <li style="font-size:16px">/ <a href="/">Home</a> </li>
	      <li style="font-size:16px">/ <a href="/about">About</a> </li>
	      <li style="font-size:16px">/ <a href="{{ "/archives" | prepend: site.url }}">Archives</a> </li>        
        <!---
        {% if site.owner.github %}
          <li><a href="{{ site.owner.github }}" target="_blank">Projects</a></li>
        {% endif %}
        -->
      </ul>
  </header>
</div>
